USE [master]
GO
/****** Object:  Database [Universidad]    Script Date: 28/7/2018 13:19:47 ******/
CREATE DATABASE [Universidad]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Universidad', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Universidad.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Universidad_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Universidad_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Universidad].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Universidad]
GO
USE [Universidad]
GO
/****** Object:  Table [dbo].[Calificaciones]    Script Date: 28/7/2018 13:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calificaciones](
	[Id_calificacion] [int] NOT NULL,
	[Nota_Final] [int] NOT NULL,
 CONSTRAINT [PK_Calificaciones] PRIMARY KEY CLUSTERED 
(
	[Id_calificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cur_Cal]    Script Date: 28/7/2018 13:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cur_Cal](
	[Id_curso] [int] NOT NULL,
	[Id_estudiante] [int] NOT NULL,
	[Id_calificacion] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cur_Tut]    Script Date: 28/7/2018 13:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cur_Tut](
	[Id_curso] [int] NOT NULL,
	[Id_tutor] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 28/7/2018 13:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[Id_curso] [int] NOT NULL,
	[Nombre_curso] [varchar](100) NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[Id_curso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 28/7/2018 13:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[Id_estudiante] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido1] [varchar](50) NULL,
	[Apellido2] [varchar](50) NULL,
	[Fecha_nacimiento] [date] NULL,
 CONSTRAINT [PK_Estudiantes] PRIMARY KEY CLUSTERED 
(
	[Id_estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutores]    Script Date: 28/7/2018 13:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutores](
	[Id_tutor] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NULL,
	[Categoría] [varchar](50) NOT NULL,
	[Especialidad] [varchar](50) NOT NULL,
	[Fecha_nacimiento] [date] NULL,
 CONSTRAINT [PK_Tutores] PRIMARY KEY CLUSTERED 
(
	[Id_tutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cur_Cal]  WITH CHECK ADD  CONSTRAINT [FK_Cur_Cal_Cal] FOREIGN KEY([Id_calificacion])
REFERENCES [dbo].[Calificaciones] ([Id_calificacion])
GO
ALTER TABLE [dbo].[Cur_Cal] CHECK CONSTRAINT [FK_Cur_Cal_Cal]
GO
ALTER TABLE [dbo].[Cur_Cal]  WITH CHECK ADD  CONSTRAINT [FK_Cur_Cal_Cur] FOREIGN KEY([Id_curso])
REFERENCES [dbo].[Curso] ([Id_curso])
GO
ALTER TABLE [dbo].[Cur_Cal] CHECK CONSTRAINT [FK_Cur_Cal_Cur]
GO
ALTER TABLE [dbo].[Cur_Cal]  WITH CHECK ADD  CONSTRAINT [FK_Cur_Cal_Es] FOREIGN KEY([Id_estudiante])
REFERENCES [dbo].[Estudiantes] ([Id_estudiante])
GO
ALTER TABLE [dbo].[Cur_Cal] CHECK CONSTRAINT [FK_Cur_Cal_Es]
GO
ALTER TABLE [dbo].[Cur_Tut]  WITH CHECK ADD  CONSTRAINT [FK_Cur_Tut_Cur] FOREIGN KEY([Id_curso])
REFERENCES [dbo].[Curso] ([Id_curso])
GO
ALTER TABLE [dbo].[Cur_Tut] CHECK CONSTRAINT [FK_Cur_Tut_Cur]
GO
ALTER TABLE [dbo].[Cur_Tut]  WITH CHECK ADD  CONSTRAINT [FK_Cur_Tut_Tut] FOREIGN KEY([Id_tutor])
REFERENCES [dbo].[Tutores] ([Id_tutor])
GO
ALTER TABLE [dbo].[Cur_Tut] CHECK CONSTRAINT [FK_Cur_Tut_Tut]
GO
USE [master]
GO
